/bin/
/out/
/build/
/buildvirtual/
/.settings/
/Eclipse
/.classpath
/.project
/nbproject
*.iml
/*.ipr
/*.iws
/*.sh
/.idea
/local.properties
/target/
/.ant-targets-build.xml
/gen-src
/*.bat
/publish.local.cmd
/libs/
.vscode
/.gradle/
/package-lock.json
