<!-- portlet-config-create-form.component.html -->
<form [formGroup]="createConfigForm" (ngSubmit)="createConfig()" class="form-horizontal">
    <div class="form-group">
        <label for="host" class="col-sm-12">Host:</label>
        <div class="col-sm-12">
            <input
                formControlName="host"
                id="host"
                type="text"
                class="form-control"
                placeholder="Введите host"
                required
            />
        </div>
    </div>

    <div class="form-group">
        <label for="configName" class="col-sm-12">Config Name:</label>
        <div class="col-sm-12">
            <input
                formControlName="configName"
                id="configName"
                type="text"
                class="form-control"
                placeholder="Введите имя конфига"
                required
            />
        </div>
    </div>

    <div class="form-group">
        <label for="positions" class="col-sm-12">Список позиций (через запятую):</label>
        <div class="col-sm-12">
            <input
                formControlName="positions"
                id="positions"
                type="text"
                class="form-control"
                placeholder="1,2,3"
                required
            />
        </div>
    </div>

    <div class="form-group">
        <label for="portletTypes" class="col-sm-12">Список типов портлетов (через запятую):</label>
        <div class="col-sm-12">
            <input
                formControlName="portletTypes"
                id="portletTypes"
                type="text"
                class="form-control"
                placeholder="type1,type2"
                required
            />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12 text-center">
            <button type="submit" class="btn btn-primary" [disabled]="createConfigForm.invalid">
                Создать конфиг
            </button>
        </div>
    </div>
</form>
